.city-card {
  background-color: #f5eed3 !important;
  border-radius: 12px;
}

.text-beige {
  color: #c7b9ae;
}

.btn-custom-search {
  background-color: #a8beb9;
  border: none;
  color: white;
  padding: 0.375rem 1.5rem;
  border-radius: 4px;
}

.btn-custom-search:hover {
  opacity: 0.9;
}

.btn-custom-save {
  background: none;
  border: 1px solid #a8beb9; 
  color: #4a4a4a;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.btn-custom-save:hover {
  background-color: #a8beb9;
  color: white;
}