/* Paleta de colores */


/* marco del buscador */
.card,
.search-container {
  background-color: #f5eed3 !important;
  border: 1px solid #d7dca7 !important;
  border-radius: 12px;
}
/* cabecera buscador de destinos */
.card-header,
.card-header h5 {
  background-color: #a8beb9 !important;
  color: #000000 !important;
  font-weight: 700 !important;
  padding: 1rem;
  border-bottom: 1px solid #c7b9ae !important;
}

/* titulos y etiquetas*/
.card-header,
.form-label,
h5 {
  color: #2c2d2f !important;
  font-weight: 600;
}

/* inputs */
.form-control {
  background-color: #ffffff !important;
  border: 1px solid #c7b9ae !important;
  color: #000000 !important;
  font-weight: 500;
}

.form-control:focus {
  border-color: #a8beb9 !important;
  box-shadow: 0 0 0 0.2rem rgba(238, 242, 239, 0.35) !important;
}

/* boton busqueda activo */
.btn-custom-search,
.btn-primary {
  background-color: #a8beb9 !important;
  border: 1px solid #8fa8a2 !important;
  color: #000000 !important;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-weight: 700 !important;
  transition: all 0.2s ease;
}

.btn-custom-search:hover:not(:disabled),
.btn-primary:hover:not(:disabled) {
  background-color: #8fa8a2 !important;
  opacity: 1;
}

/* boton busqueda deshabilitado */
.btn-custom-search:disabled,
.btn-primary:disabled {
  background-color: #e2d8be !important;
  border: 1px solid #c7b9ae !important;
  color: #666666 !important;
  opacity: 0.8;
  cursor: not-allowed;
}

/* tarjeta de ciudad */
.city-card {
  background-color: #a8beb9  !important;
  border: 1px solid #b5aec7 !important;
  border-radius: 12px;
}

.text-beige {
  color: #000000 !important;
}

/* boton guardar*/
.btn-custom-save {
  background: transparent;
  border: 1px solid #bdd6d0; 
  color: #000000;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  font-weight: 600;
}

.btn-custom-save:hover:not(:disabled) {
  background-color: #a8beb9;
  color: #000000;
}

/*boton guardar deshabilitado*/
.btn-custom-save:disabled {
  background-color: #d1e7dd !important;
  border-color: #badbcc !important;
  color: #0f5132 !important;
  cursor: not-allowed;
  opacity: 0.85;
}